<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moneyball</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="{{ url_for('home') }}">Moneyball</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item {{ 'active' if request.path == url_for('about') else '' }}"><a class="nav-link" href="{{ url_for('about') }}">Rules</a></li>
                {% if current_user.is_authenticated %}
                    {% if current_user.is_admin %}
                        <li class="nav-item {{ is_active('admin_home') }}"><a class="nav-link" href="{{ url_for('admin_home') }}">Dashboard</a></li>
                    {% endif %}
                    {% if not current_user.is_admin %}
                        <li class="nav-item {{ is_active('user_home') }}"><a class="nav-link" href="{{ url_for('user_home') }}">Dashboard</a></li>
                    {% endif %}
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('signout') }}">Sign Out</a></li>
                {% else %}
                    <li class="nav-item {{ is_active('signin') }}"><a class="nav-link" href="{{ url_for('signin') }}">Sign In</a></li>
                    <li class="nav-item {{ is_active('signup') }}"><a class="nav-link" href="{{ url_for('signup') }}">Sign Up</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <div class="container mt-4">
        {% block content %}{% endblock %}
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>