{% extends 'base.html' %}

{% block content %}
<h2>Create New Round</h2>
<form method="post">
    {{ form.hidden_tag() }}
    <div class="form-group">
        {{ form.name.label(class="form-control-label") }}
        {{ form.name(class="form-control") }}
        {% if form.name.errors %}
            {% for error in form.name.errors %}
                <span style="color: red;">{{ error }}</span>
            {% endfor %}
        {% endif %}
    </div>
    <div class="form-group">
        {{ form.submit(class="btn btn-primary") }}
    </div>
</form>
{% endblock %}
